<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">
      {{post.title}}
    </a>
    by: {{post.author.username}}
    <p>
      {{post.summary}}
    </p>
    <form action="/posts/{{post._id}}/comments" method="post">
      <textarea class="form-control" name="content" placeholder="Comment"></textarea>
      <div class="text-right">
        <button type="submit">
          Save
        </button>
      </div>
    </form>
    {{#each post.comments}}
      <p>
        {{this.content}}
        by:{{this.author.username}}
      </p>
    {{/each}}
  </div>
</div>
